body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: dark rgb(144, 6, 243);
}

h1{
    font-size: 15rem;
    font-family: 'Lilita One', cursive;
}

.letter{
    transition: color 100ms;
}